<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="layout">
        <div class="layout content"><!-- BLOCKS CONTENT -->
            <div><!-- REQUISITION INFO -->
                <div class="parag">
                    <h3 class="floatLeft">Requisition summary: {{requisition.req_number}}</h3>
                    <a class="floatRight btnBlueSmall" href="/#/" id="requisitionBack">back to list</a> 
                    <a class="floatRight btnBlueSmall grey" href="#" id="requisitionComplete">complete</a> 
                    <a class="floatRight btnBlueSmall" href="https://test.fejer.pro/en/requisitions/notifications/node,{{requisition.id}}" id="requisitionNotify">notify</a> 
                    <a class="floatRight btnBlueSmall" href="https://test.fejer.pro/en/requisitions/print/node,{{requisition.id}}" id="requisitionPrint">Print</a> 
                    <a class="floatRight btnBlueSmall" href="https://test.fejer.pro/en/requisitions/view/node,{{requisition.id}}" id="requisitionProperties">Properties</a> 
                    <a class="floatRight btnBlueSmall" href="https://test.fejer.pro/mapView.php/requisition/node,{{requisition.id}}" id="requisitionMap">Map</a>
                    <div class="clear"></div>
                    <table class="summary">
                        <tbody>
                            <tr>
                                <td class="title">Year</td>
                                <td class="value">
                                    <span>{{requisition.req_year}}</span>
                                    <a href="https://test.fejer.pro/en/requisitions/cancelRestRequisition/node,{{requisition.id}}/request,ajax/mode,plain/" id="cancelRestRequisition">Cancel rest</a>
                                </td>
                                <td class="title">Created</td>
                                <td class="value">{{requisition.created | date:'dd/MM/yyyy'}}</td>
                                <td class="value">Planned property</td>
                            </tr>
                            <tr>
                                <td class="title">Description<a href="javascript(0);" id="editDescription" style="float:right"><img src="offline/img/edit.png"></a></td>
                                <td class="value"><span id="currentDescription">{{requisition.comment}}</span><input id="desriptionInput" style="display:none; width:100%" value="Herman Test"></td>
                                <td class="title">Total Cost</td>
                                <td class="value">{{requisition.cost}}
                                    <br>
                                    <label for="plannedAll">

                                        <input type="radio" name="planned" id="plannedAll" style="margin-left: 0px; margin-top: 10px;"
                                        ng-model="filterType.planned"
                                        value="">
                                        All properties
                                    </label>
                                </td>
                                <td class="value">
                                    
                                    <input type="radio" name="usePlannedDate" style="margin-left: 0px;" 
                                    ng-model="filterType.planned"
                                    value="{{plannedDate}}">
                                    
                                    <input type="text" name="plannedDate" calendar maxlength="10" style="width: 80px;"
                                    ng-model="plannedDate" ng-change="filterType.planned = plannedDate;">

                                    <label for="plannedShowAll">

                                        <input type="radio" name="usePlannedDate" id="plannedShowAll"
                                        ng-model="filterType.planned"
                                        value="!0000-00-00">

                                        All planned
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /REQUISITION INFO -->
                <!-- REQUISITION TOURS -->
                <div class="parag">
                    <h3>Included tours</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Tour</th>
                                <th nowrap>Type of Property</th>
                                <th nowrap>Visits (current / per year)</th>
                                <th>Includes property</th>
                                <th>Plan of sweeping</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tour in requisition.tours">
                                <td class="value" style="width: 10%">{{tour.tour_name}}</td>
                                <td class="value" style="width: 10%">{{tour.tour_group}}</td>
                                <td class="value" style="width: 15%">{{tour.tour_visit}}</td>
                                <td class="value">{{tour.firstProperty}} - {{tour.lastProperty}}</td>
                                <td class="value">
                                    <table width="100%">
                                        <thead>
                                            <tr>
                                                <td>1x</td>
                                                <td>2x</td>
                                                <td>3x</td>
                                                <td>4x</td>
                                                <td>5x</td>
                                                <td>6x</td>
                                                <td>7x</td>
                                                <td>8x</td>
                                                <td>9x</td>
                                                <td>10x</td>
                                                <td>11x</td>
                                                <td>12x</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{tour.sweepings[1] ? tour.sweepings[1].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[2] ? tour.sweepings[2].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[3] ? tour.sweepings[3].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[4] ? tour.sweepings[4].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[5] ? tour.sweepings[5].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[6] ? tour.sweepings[6].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[7] ? tour.sweepings[7].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[8] ? tour.sweepings[8].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[9] ? tour.sweepings[9].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[10] ? tour.sweepings[10].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[11] ? tour.sweepings[11].sweeping_type : ''}}</td>
                                                <td>{{tour.sweepings[12] ? tour.sweepings[12].sweeping_type : ''}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /REQUISITION TOURS -->
                <div id="notlist">
                    <div class="parag">
                        Please enter a date of completing works, set checkboxes
                        for all works you want to complete and push the button
                        'complete'
                    </div>
                    <form action="https://test.fejer.pro/en/requisitions/complete/node,requisition.id" id="notificationForm" method="post" name="notif_form">
                        <input name="subaction" type="hidden" value="execute"> 
                        <!--  FLOATING BOTTOM BOX -->
                        <div id="float_bottom_box">
                            <!--  LEFT SELECTION BOX -->
                            <div class="parag sel-block" id="selBlock">
                            <img class="search-tour-img" onclick="searchTourposition();" src="offline/img/view.png" width="20">
                                <div class="note floatRight">
                                    <input id="tourPosJump" maxlength="21" type="text" value="Tourposition search">
                                </div>
                                <div class="clear"></div>
                            </div><!--  END OF LEFT SELECTION BOX -->
                            <!--  RIGHT SELECTION BOX -->
                            <div class="parag" id="RselBlock">
                                <div class="note floatRight">
                                    <input id="SendComplete" onclick="sendCompleteRequest(this)" type="button" value="Save">
                                </div>
                                <div class="note floatRight">
                                    <select id="completedSweeper" name="form[editor]" style="width:160px">
                                        <option selected value="3">Arne Pedersen</option>
                                        <option value="6">Danni Rasmussen</option>
                                        <option value="7">Lars Emil Pedersen</option>
                                        <option value="8">Pia Jørgensen</option>
                                        <option value="5">Robin Andersen</option>
                                        <option value="122">Ronnie Bonde</option>
                                    </select>
                                </div>
                                <div class="note floatRight">
                                    by
                                </div>
                                <div class="note floatRight">
                                    <input class="hasDatepicker" id="completed" name="form[completed]" readonly="readonly" type="text" value="04/12/2015">
                                </div>
                                <div class="note floatRight">
                                    Completed
                                </div>
                                <div class="note floatRight">
                                    <input class="defaultFocus" id="tourPosRange" maxlength="21" name="form[tourPosRange]" onkeydown="if(event.keyCode==13) {sendCompleteRequest(document.getElementById('SendComplete'));}" type="text" value="">
                                </div>
                                <div class="clear"></div>
                            </div><!--  END OF RIGHT SELECTION BOX -->
                        </div><!--  END OF FLOATING BOTTOM BOX -->
                        <div class="parag" id="cplist">
                            <div id="paginator">
                                <div class="floatLeft page" style="width:auto;">
                                    Properties on page: 
                                    <select onchange="" style="height: 18px;">
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="150">150</option>
                                        <option value="200">200</option>
                                        <option value="250">250</option>
                                        <option value="300">300</option>
                                        <option value="400">400</option>
                                        <option value="500">500</option>
                                        <option selected="selected" value="1000">1000</option>
                                    </select>
                                </div>

                                <div class="floatLeft page" style="width: auto;">
                                    <label class="radiobutton">Full
                                        <input class="viewControll" ng-model="display.showFull" value="1" type="radio">
                                    </label>
                                    <label class="radiobutton">Simple
                                        <input class="viewControll" ng-model="display.showFull" value="0" type="radio">
                                    </label>
                                </div>

                                <div class="page checkbox-container-parent">
                                    <div class="checkbox-container">
                                        <input ng-model="checkAllButton" ng-change="test()" class="checkbox" type="checkbox">
                                        <label>Check all</label>
                                    </div>
                                    <div class="checkbox-container">
                                        <input ng-model="filterType.hasRest" class="checkbox" type="checkbox">
                                        <label>Rest</label>
                                    </div>
                                    <div class="checkbox-container">
                                        <input ng-model="showCompleted" ng-change="completionChanged()" class="checkbox" type="checkbox">
                                        <label>Show completed</label>
                                    </div>
                                </div>

                            </div>
                            <div class="clear"></div>

                            <div property-list></div>

                            <div id="paginator">
                                <div class="floatLeft page" style="width:auto;">
                                    Properties on page: 
                                    <select onchange="" style="height: 18px;">
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="150">150</option>
                                        <option value="200">200</option>
                                        <option value="250">250</option>
                                        <option value="300">300</option>
                                        <option value="400">400</option>
                                        <option value="500">500</option>
                                        <option selected="selected" value="1000">1000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>