#RselBlock
{
    height:27px; 
    width:640px; 
    font-size:13px;
    clear: none; 
    border-radius: 15px 15px 0pt 0pt; 
    padding: 15px 5px 5px; 
    color: rgb(255, 255, 255); 
    background: none repeat scroll 0pt 0pt #3E7DAB; 
    font-weight: bold; 
    float: right;
}

.link118
{
    background: #a7dd37 none repeat scroll 0 0;
    border: 1px solid #caef7d;
    box-shadow: 0 -11px 0 #75ab00 inset;
    color: #fff !important;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    float: right;
    margin: 5px 0 0;
    padding: 2px 5px 3px;
    text-decoration: none;
    font-family: Verdana,​Arial,​sans-serif;
    font-size:10px;
    /*
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 -8px 0 #efefef inset;
    color: #b1c33f;
    float: right;
    font-family: Verdana,​Arial,​sans-serif;
    font-size: 14px;
    margin: 2px 5px 0;
    padding: 0 4px;
    text-decoration: none; */
}

.link118:hover
{
    text-shadow: 0 0 5px #fff;
}

#cancelRestRequisition
{
     background: none repeat scroll 0 0 #DA6E71;
    border: 1px solid #C82A2F;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 -13px 0 #C82A2F inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: none;
    font: bold 12px/130% Verdana,Arial,Helvetica,sans-serif;
    margin: 0 0 0 30px;
    overflow: auto;
    padding: 1px 10px 2px;
    text-decoration: none;
    white-space: nowrap;
}

#cancelRestRequisition:hover
{
    text-shadow: 0 0 5px #FFFFFF;
}
    
div#cplist table#propList tr td 
{
    padding: 3px; letter-spacing: 0;
}

div#cplist table#propList tr td.delimiter 
{
    padding:0;
}

#selBlock input[type="button"], #selBlock input[type="submit"],#RselBlock input[type="button"], #RselBlock input[type="submit"] 
{
    background-color: #E8F4FF;
    padding: 3px 5px;
}

.commentEditLink 
{
    color:black !important; text-decoration:none;
}

.commentEditLink:hover 
{
    text-decoration:underline;
}

.completeTd 
{
    text-align:right;
    font-size:14px;
}

.completeSweeper 
{
    width: 100%;
}

a.btnBlueSmall 
{
    margin-left:10px;
}

a.btnBlueSmall#requisitionBack 
{
    margin-left:20px;
}

a.btnBlueSmall.grey 
{  
    background: none repeat scroll 0 0 #EEEEEE !important;
    color: #AAAAAA !important;
}

div.bill_menu
{
    position: absolute;
    border: 3px solid #ccc;
    background: #fff;       
    text-align: left;
    padding: 5px;
}

div.bill_menu .btnBlue
{
    display: block;
    float: left;
    margin: 5px 10px;       
}

div.bill_menu .btnBlue.editBtn
{
    float:right;
}

div.bill_menu .detailsBox 
{
    padding: 5px;
}

div.bill_menu ul .costCurrency
{
    float: right;
    font-size: 11px;
    font-weight: bold;
    padding: 0 10px 0 20px;
}

.bill_menu table td 
{
    border:none; padding:none;
}

.bill_menu a.menuClose 
{
    background: url("/styles/images/close.png") no-repeat scroll 1px 1px transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    position: absolute;
    width: 35px;
    z-index: 11111;
    right: -20px;
    top: -20px;
}

#fixedHeading th, #floatingHeading th
{
    background-color: #3E7DAB;
}

#fixedHeading td, #fixedHeading th, #floatingHeading td, #floatingHeading th 
{
    border: 1px solid #D7E6F5;
    color: #FFFFFF;    
    padding: 3px 6px;
    vertical-align: top;
}

#fixedHeading #searchContact, #floatingHeading #searchContact
{
    background: none repeat scroll 0 0 #A7DD37;
    border: 1px solid #CAEF7D;
    box-shadow: 0 -13px 0 #75AB00 inset;
    color: #FFFFFF;
    font-weight: bold;    
}

#SendComplete
{
    border-radius: 10px 10px 10px 10px;
    color: #165FAD;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -3px;
}

#propList_heading thead th
{
    background:#3E7DAB;
    color:#fff;
}

#float_bottom_box .note
{
    margin:0 5px;
}

#float_bottom_box
{
    z-index: 1;
    position: fixed; 
    bottom: 0pt; 
    width: 960px;
}

.search-tour-img
{
    background: none repeat scroll 0% 0% rgb(129, 182, 220); 
    border-radius: 3px 3px 3px 3px; 
    padding: 3px; 
    margin-right: 6px; 
    margin-top: 0px; 
    cursor: pointer; 
    float: right;
}

.sel-block
{
    height:27px;
    width:210px;
    font-size:13px;
    float: left;
    clear: none;
    margin: 0pt auto;
    border-radius: 15px 15px 0pt 0pt;
    padding: 15px 5px 5px;
    color: rgb(255, 255, 255);
    background: none repeat scroll 0pt 0pt #3E7DAB;
    font-weight: bold;
}

#tourPosJump 
{
    color: #CCC;
    font-style: italic;
    width: 140px;
}

.hasDatepicker
{
    height: 22px; width: 70px;
}

.defaultFocus
{
    height: 23px;
}

.radiobutton
{
    cursor: pointer;
    position: relative;
}

.checkbox
{
    height: 18px;
    cursor: pointer;
    position: relative;
    top: 3px;
    right: 3px;
}

.checkbox-container
{
    display: inline;
    border: 0 !important;
}

.checkbox-container-parent
{
    width: auto !important;
    height: 24px;
    padding: 0px 10px !important;
    float:right;
}

.grayBackground
{
    background:#e8e8e8 !important;
}

.propertyHeading
{
    background:#DFEFFF;
}

table .redUrl 
{
    color: #8F0000;
    cursor: pointer;
}

table .redbold
{
    color: red;
    font-weight: bold;
}

table .greenbold
{
    color: #27B125;
    font-weight: bold;
}

table .red
{
    color: #8F0000;
}

table.summary tr td.value {
    width: 0%;
}

.propertyHeading.redBackground {
    background-color: #FFCFCC;
}

.propertyHeading.yellowBackground {
    background-color: #FFFEA3;
}

.propertyHeading.greenBackground {
    background-color: #CFFFCF;
}

.table-container {
    width: 100%;
}

.comment-edit-box > div.ngdialog-content
{
    width: 750px !important;
}