<div class="modal-header">
    <h3 class="modal-title">Delete details</h3>
</div>
<div class="modal-body">
    <a>Are you sure you want to delete requisition details from cache?</a>
    <br></br>
</div>
<div class="modal-footer"> 
    <button class="btn btn-primary" type="button" ng-click="remove();closeThisDialog();">Yes</button>
    <button class="btn btn-warning" type="button" ng-click="cancel();closeThisDialog();">No</button>
</div>