<script type="text/javascript">
	jQuery(document).ready(function() {
					jQuery('#formEditCreate input[type=text]').each(function(index, element) {
				jQuery(element).val('');
			});
				jQuery('#formEditCreate input').keypress(function(e){if(e.keyCode=="13") jQuery('#formEditCreate .defaultAction2').click();})
		jQuery('#validTo').datepicker();
		jQuery('#deadLine').datepicker();
		fnSave();
		
		 jQuery('a#deleteBut').click(function(e)
        {
            e.preventDefault();

           jQuery.getJSON(jQuery(this).attr('href'),function(data){

               if (data['code'] ==  1) {

              	if(typeof(reloadComments)=="function") reloadComments();
				if(typeof(updateComments)=="function") updateComments(4404);
				if(jQuery('#history').length!=0) jQuery('#history').load("/en/systemlog/showPropertyLog/request,ajax/mode,plain/sort,created,desc/filters,sweeperPropertyID,4404");

		  		} else if (data['code'] == 0) {
		  				aslobodyanMessage(data['message'],data['detail']);
		  		}
				jQuery('#asClose').click();
           });


        });
		jQuery('.comment_print').change(function(){
				if(jQuery(this).attr('checked')=='checked') jQuery('.comment_print').not(this).removeAttr('checked');
			});
    });
	function dateChangeFormat(id) {
		var curDate = jQuery(id).val();
		var newDateFormat = curDate.toString().charAt(6) + curDate.toString().charAt(7) + curDate.toString().charAt(8) + curDate.toString().charAt(9) +
			'-' + curDate.toString().charAt(3) + curDate.toString().charAt(4) +
			'-' + curDate.toString().charAt(0) + curDate.toString().charAt(1);
		jQuery(id).val(newDateFormat);
		return curDate;
    };
	function fnSave() {
		jQuery('#saveBut').click(function(){
			if (jQuery('#validTo').val() != '' && jQuery('#validTo').val() != 'undefined') var curDateOne = dateChangeFormat('#validTo');
			if (jQuery('#deadLine').val() != '' && jQuery('#deadLine').val() != 'undefined') var curDateTwo = dateChangeFormat('#deadLine');
			var formArr = jQuery('#formEditCreate').serializeArray();
			
			
			
			if (curDateOne) jQuery('#validTo').val(curDateOne);
			if (curDateTwo) jQuery('#deadLine').val(curDateTwo);
							var url = "/en/comments/edit/request,ajax/mode,json/filters,sweeperPropertyID,4404/node,0/";
						var responce = sendAJAX("POST", url, "json", formArr);
			if(typeof(updateComments)=="function") updateComments(4404);
			if (responce['code'] == 1) {
				jQuery('a#asClose').click();
				if(typeof(reloadComments)=="function") reloadComments();
				/*
				if(jQuery('#comments').length==0) fnReloadPage();
				else jQuery('#comments').load("/en/comments/request,ajax/mode,plain/filters,actual,true/filters,sweeperPropertyID,4404");
*/
                // Don't reload the page, because nothing changes on it.
                // fnReloadPage();
			}
		});
	}
</script>
<style>

form#formEditCreate table td input
{
	width: 330px;
}
</style>

<form action="javascript:void(0)" metrod="post" name="formEditCreate" id="formEditCreate">

	<input type="hidden" name="action" id="action" value="save"/>
    <h3 ng-if="!creation">Comment Editing</h3>
    <h3 ng-if="creation">Comment Creating</h3>

    <div style="float:right; text-align:right;">
		<a ng-click="handleSave();closeThisDialog();" style="float:none;" class="btnBlue defaultAction2">Save</a> <br/><br/>
		<a ng-if="!creation" ng-click="handleDelete();closeThisDialog();" style="float:none;" title="Delete" class="btn">Delete</a>
	</div>

    <table  class="" cellpadding="0" cellspacing="0">
        <tr>
            <td>Category</td>
            <td colspan="3">
                <select ng-model="commentToEdit.category">
	            	<option value=""></option>
	            	<option value="ANN" >ANN</option>
	            	<option value="AOB" >AOB</option>
	            	<option value="APV" >APV</option>
	            	<option value="MAN" >MAN</option>
	            	<option value="NOT" >NOT</option>
	            	<option value="NY" >NY</option>
	            	<option value="SKA" >SKA</option>
	            	<option value="SOD" >SOD</option>
	            	<option value="TIL" >TIL</option>
            	</select>
            </td>
        </tr>
        
        <tr>
            <td>Text</td>
            <td colspan="3">
            	<input type="text" name="form[text]" maxlength="60" id="text" ng-model="commentToEdit.title"/>
            </td>
		</tr>
		
		<tr>
            <td>
            	<label for="inReq">Show in requisition</label>
            </td>
            <td class="aL" colspan="3">
            	<input ng-model="commentToEdit.show_in_requisitions" ng-change="commentToEdit.show_in_next = commentToEdit.show_in_requisitions == true ? false : commentToEdit.show_in_requisitions" class="ch comment_print" type="checkbox"/>
            </td>
        </tr>
		
		<tr>
            <td>
            	<label for="inNextReq">Show in next requisition</label>
            </td>
            <td class="aL" colspan="{{creation ? 1 : 3}}">
            	<input ng-model="commentToEdit.show_in_next" ng-change="commentToEdit.show_in_requisitions = commentToEdit.show_in_next == true ? false : commentToEdit.show_in_next" class="ch comment_print" type="checkbox"/>
            </td>
				
            <td ng-if="creation">
            	<label for="inThisReq">Show in this requisition only</label>
            </td>

            <td ng-if="creation" class="aL">
            	<input ng-model="commentToEdit.this_requisition_only" class="ch" ng-true-value="{{requisition.id}}" ng-false-value="" type="checkbox"/>
            </td>
        </tr>

        <tr>
            <td>Valid to</td>
	        <td>
	        	<input ng-model="commentToEdit.valid_to" calendar style="width: 80px; type='text'"/>
	        </td>
		
            <td>Deadline</td>
	        <td><input ng-model="commentToEdit.deadline" calendar style="width: 80px; type='text'"/></td>
		</tr>
        
        <tr>
        	<td colspan="5">Comment</td>
        </tr>
        
        <tr>
        	<td colspan="5">
        		<textarea class="defaultFocus" ng-model="commentToEdit.detail" rows="7" cols="50"  style="height: 180px; resize: vertical; width: 99%;"></textarea>
        	</td>
        </tr>
	</table>
	
</form>