<div>
<!--	NEW MENU	-->
<ul id="menu">
    <li class=""><a accesskey="t" href="https://test.fejer.pro/en/tours"><u>t</u>ours</a></li>
    <li class="">
        <a class="active hasSubmenu" accesskey="r" href="index.html"><u>r</u>equisitions</a>
        <ul class="">
            <li><a accesskey="c" href="https://test.fejer.pro/en/calendar"><u>c</u>alendar</a></li>
        </ul>
    </li>
    <li>
        <a class="hasSubmenu" accesskey="b" href="https://test.fejer.pro/en/bills"><u>b</u>ills</a>
        <ul>
            <li><a accesskey="a" href="https://test.fejer.pro/en/transfers">tr<u>a</u>nsfers</a></li>
            <li><a accesskey="p" href="https://test.fejer.pro/en/pbcreports"><u>p</u>bc re<u>p</u>orts</a></li>
        </ul>
    </li>
    <li class="">
        <a class="hasSubmenu" accesskey="o" href="https://test.fejer.pro/en/property">pr<u>o</u>perty</a>
        <ul class="">
            <li><a accesskey="m" href="https://test.fejer.pro/en/commune">co<u>m</u><u>m</u>une</a></li>
        </ul>
    </li>
    <li class="">
        <a class="hasSubmenu" accesskey="y" href="https://test.fejer.pro/en/profile">m<u>y</u> profile</a>
        <ul class="">
            <li><a accesskey="u" href="https://test.fejer.pro/en/communes">comm<u>u</u>nes</a></li>
            <li><a accesskey="i" href="https://test.fejer.pro/en/pricelist">pr<u>i</u>cel<u>i</u>st</a></li>
            <li><a accesskey="e" href="https://test.fejer.pro/en/workstat">my <u>e</u>mploy<u>e</u><u>e</u>s</a></li>
            <li><a accesskey="j" href="https://test.fejer.pro/en/employeestatistics"><u>j</u>obs done</a></li>
        </ul>
    </li>
    <li class=""><a accesskey="n" href="https://test.fejer.pro/en/contact_manage">co<u>n</u>tacts</a></li>
    <li>
        <a class="hasSubmenu" accesskey="s" href="https://test.fejer.pro/en/statistics"><u>s</u>tati<u>s</u>tic<u>s</u></a>
        <ul>
            <li><a accesskey="h" href="https://test.fejer.pro/en/systemlog"><u>h</u>istory log</a></li>
            <li><a accesskey="" href="https://test.fejer.pro/en/users">users</a></li>
            <li><a accesskey="g" href="https://test.fejer.pro/en/pricegroups">price<u>g</u>roups</a></li>
            <li><a accesskey="l" href="https://test.fejer.pro/en/itemslist">items <u>l</u>ist</a></li>
            <li><a accesskey="f" href="https://test.fejer.pro/en/preferences">pre<u>f</u>erences</a></li>
        </ul>
    </li>
    <li><a href="https://test.fejer.pro/support/" target="_blank">Help</a></li>
</ul>

<div style="float: right; margin: 0px 5px 0pt 0pt;" class="">
	<a id="calendarBottomLink" target="_blank" href="https://test.fejer.pro/calendar/" l="3"></a>
	<a id="messagesBills" style="display:none" href="https://test.fejer.pro/messages/request,ajax/mode,plain/" l="3">+</a>
	<img width="14" id="searchButton" src="offline/img/view.png" alt="" style="background: none repeat scroll 0% 0% rgb(129, 182, 220); border-radius: 3px 3px 3px 3px; padding: 3px; margin-right: 6px; margin-top: 0px; position: relative; top: 4px; cursor: pointer;">
	<input style="border-radius: 5px 5px 5px 5px; height: 16px; padding-left: 5px; padding-right: 5px; position: relative; top: -1px; color:#ccc; font-style:italic" value="Tourposition search" id="search">
</div>
<div class="clear"></div>
<!--	/NEW MENU	-->
<div id="search2Container" style="display:none; position: fixed; margin-left: 768px; top: 0px; background: none repeat scroll 0% 0% rgb(215, 230, 245); border-radius: 0px 0px 5px 5px; padding: 0px 2px 5px 7px;">
	<li class="" style="float: right; margin: 0px 5px 0pt 0pt; list-style-type: none;">
		<img width="14" style="background: none repeat scroll 0% 0% rgb(129, 182, 220); border-radius: 3px 3px 3px 3px; padding: 3px; margin-right: 6px; margin-top: 0px; position: relative; top: 4px; cursor: pointer;" alt="" src="offline/img/view.png" id="searchButton2">
		<input id="search2" value="Søg turnummer" style="border-radius: 5px 5px 5px 5px; height: 16px; padding-left: 5px; padding-right: 5px; position: relative; top: -1px; color:#ccc; font-style:italic">
	</li>
</div>
<!-- PATHWAY MENU -->
</div>