<table class="table-container">
    <thead id="fixedHeading">
        <tr>
            <th colspan="4">Total</th>
            <th rowspan="2" style="width: 40px;">KW</th>
            <th rowspan="2" style="width: 35px;">Type</th>
            <th rowspan="2" style="width: 37px;">Ch. len.</th>
            <th colspan="2" style="width: 76px;">Pipe</th>
            <th rowspan="2" style="width: 30px;">Fuel</th>
            <th rowspan="2" style="width: 25px;">Cost</th>
            <th colspan="4" rowspan="2">Comment</th>
            <!--<th style="width: 38px;" rowspan="2" width="1">Cancel item</th>-->
            <th rowspan="2" style="width: 60px;">edit regn.</th>
            <th rowspan="2" style="width: 85px;"></th>
            <th rowspan="2" style="width: 14px; text-align:center">
                <a class="btnBlue" href="https://test.fejer.pro/en/contact_manage" id="searchContact" target="_blank">Search</a>
            </th>
        </tr>
        <tr>
            <th style="width: 30px;">Visits</th>
            <th style="width: 31px;">chim.</th>
            <th style="width: 30px;">pipes</th>
            <th style="width: 20px;">others</th>
            <th style="width: 28px;">diam</th>
            <th style="width: 35px;">height</th>
        </tr>
    </thead>

    <tbody>
    <tr ng-if="false" ng-repeat-start="visit in requisition.details | filter:filterType"></tr>
        <tr ng-init="daysUntilNow = getDays(visit.planned)" ng-class="{
        grayBackground: visit.completed != '0000-00-00' || visit.cancelled == 1, 
        yellowBackground: daysUntilNow > 1,
        greenBackground: daysUntilNow >= 0 && daysUntilNow < 1,
        redBackground: daysUntilNow < 0}" class="propertyHeading property heading">
            <td colspan="11" style="font-size:14px">
                <span class="linkedHeading">
                    <a href="https://test.fejer.pro/mapView.php/property/node,{{visit.sweeper_property_id}}" target="_blank" style="cursor: pointer; margin: 0px 5px 0px 0px; position: relative; top: 2px; padding: 2px; text-decoration: inherit;">
                        <img src="offline/img/icons/globe-icon.png">
                    </a>
                    <b>{{visit.property.address}}</b>
                    &nbsp;
                    <a class="link118" target="_blank" href="http://118.dk/?where={{visit.property.address + ' ' + property.zip}}">
                        <b>118</b>
                        .DK
                    </a>
                    <div class="clear"></div>
                    <span style="float: left; padding-right: 0px; padding-left: 25px;">
                        <a class="redUrl" href="https://test.fejer.pro/en/contacts/edit_info/request,ajax/mode,plain/node,{{visit.sweeper_property_id}}/filters,sweeper_property_id,{{visit.sweeper_property_id}}/">
                            <i class="tennant_name redUrl">
                                {{visit.contacts.tenant.tenant_title}}
                                <br ng-if="visit.contacts.tenant.tenant_title != ''">
                                {{visit.contacts.tenant.tenant_fullname != '' ? visit.contacts.tenant.tenant_fullname : 'Noname'}}
                            </i>
                        </a>
                        <br>
                        <span class="contact_comment">{{visit.contacts.tenant.tenant_comment}}</span>
                        <span></span>
                        <small style="font-size:12px;">{{visit.contacts.tenant.tenant_phone}}</small>
                        <small ng-if="visit.contacts.tenant.tenant_mobile" style="font-size:12px;">Mobil: {{visit.contacts.tenant.tenant_mobile}}</small>
                    </span>
                </span>
            </td>

            <td colspan="4" style="font-size:12px; text-align:left;">
                <span style="font-size:12px">
                    Last served: 
                    <b ng-if="visit.property.lastVisit.lastVisit == '0000-00-00'">never</b>

                    <b ng-show="false" ng-if-start="visit.property.lastVisit.lastVisit != '0000-00-00'"></b>
                        <b>{{visit.property.lastVisit.lastVisit.substring(0,10) | date:'dd/MM/yyyy'}}</b>
                        <br>
                        <span> Sweeper: {{visit.property.lastVisit.sweeper}} </span>
                    <b ng-show="false" ng-if-end></b>
                </span>
                <div class="clear"></div>
                <a ng-if="visit.completed == '0000-00-00' && visit.cancelled == 0" style="float:right" href="https://test.fejer.pro/en/requisitions/cancelvisit/request,ajax/mode,plain/filters,visitId,{{visit.req_visit_id}}/" class="cancelVisit">
                    <img src="offline/img/x.png">
                </a>
            </td>

            <td style="font-size:12px; text-align:left;">
                by {{visit.property.bill_delivery_type}}
            </td>

            <td style="font-size:14px; text-align:right;">
                <a target="_blank" class="propertyTourposition redUrl" href="https://test.fejer.pro/en/property/show/node,{{property.id}}" title="View property profile">{{visit.property.tourposition}}</a>
                <br>
                <br>
                <div class="clear"></div>
                <span class="controllSecondary " style="display:none; text-align:left; float:left;">
                    <input type="checkbox" class="sod_checkbox" id="sec_sod_4404" name="form[sod][]" value="{{property.id}}">
                    <label class="sod_label" style="cursor:pointer" for="sec_sod_4404">&nbsp;Rest<!-- sod. --></label>
                </span>
                <div class="clear"></div>
                <input style="display:none; width: 100px;" maxlength="60" disabled="disabled" class="sec_sodcomment sodcomment controllSecondary" type="text" name="form[sodcomment][{{property.id}}]" id="sec_sodcomment_{{property.id}}" value="Rest">
                <div class="clear"></div>
            </td>

            <td ng-if="visit.planned != '0000-00-00' && visit.completed == '0000-00-00'" class="completeTd completionTdSecondary">  
                <span style="float:left; text-align: center; width:100%" class="plannedDate">
                    <a class="redUrl asBox" href="https://test.fejer.pro/en/requisitions/notifyVisit/filters,visitId,857377/request,ajax/mode,plain/" style="float: right;">
                        Planned:<br>
                        {{visit.planned | date:'dd/MM/yyyy'}}
                    </a>
                </span>
                    <div class="clear"></div>
            </td>

            <td ng-if="visit.planned == '0000-00-00' && visit.completed == '0000-00-00' && visit.cancelled == 0" class="completeTd">
                <span style="float:left; text-align: center; width:100%" class="plannedDate">
                    <a class="asBox" href="https://test.fejer.pro/en/requisitions/notifyVisit/filters,visitId,{{visit.req_visit_id}}/request,ajax/mode,plain/" style="margin:0 auto">
                        <img src="offline/img/calendar_icon.png" style="height: 36px;">
                    </a>
                </span>
                <div class="clear"></div>
            </td>

            <td ng-if="visit.completed != '0000-00-00' && visit.cancelled == 0" class="completeTd">
                <b>Completed</b><br>
                {{visit.completed | date:'dd/MM/yyyy'}}
            </td>

            <td ng-if="visit.cancelled == 1" class="completeTd">   
                <b>Cancelled</b><br>
                <a class="restoreVisit redUrl" href="https://test.fejer.pro/en/requisitions/restoreVisit/request,ajax/mode,json/filters,visitId,857373/">Restore</a>
            </td>
        </tr>

        <tr ng-show="display.showFull == 1" ng-repeat="item in visit.items | orderBy : position">
            <td ng-class="{served : item.is_served}">{{item.visits != 0 ? item.visits : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.isOther == 0 && item.item_number != 0 ? item.item_number : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.item_pipes != 0 ? item.item_pipes : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.isOther == 1 && item.item_number != 0 ? item.item_number : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.item_power != 0 ? item.item_power : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.item_detail != 0 ? item.item_detail : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.item_height != 0 ? item.item_height : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.item_diameter != 0 ? item.item_diameter : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.item_length != 0 ? item.item_length : ' '}}</td>
            <td ng-class="{served : item.is_served}">{{item.fuel_code}}</td>
            <td ng-class="{served : item.is_served}">{{item.cost != 0 ? item.cost : ' '}}</td>
            <td colspan="4">{{item.comment}}</td>

            <td ng-if="$first" rowspan="{{visit.propCount}}">
                <!-- EDIT Button -->
                <a class="showBill redUrl" href="https://test.fejer.pro/en/bills/getBillQuickMenu/request,ajax/mode,plain/filters,sweeperPropertyID,{{item.sweeper_property_id}}/filters,visitID,{{item.visit_id}}" id="edit_857380">invoice</a>
                <br>
                <br>
                <b>{{visit.bill.status != 'new' ? visit.bill.status : ''}}</b> 
                <!-- /EDIT Button -->
            </td>

            <td ng-if="$first" nowrap rowspan="{{visit.propCount}}">
                <span class="controllMain">
                    <input class="sod_checkbox" id="sod_213228" name="form[sod][]" type="checkbox" value="{{item.sweeper_property_id}}">
                    <label class="sod_label" for="sod_213228" style="cursor:pointer">&nbsp;Rest</label>
                </span>
                <div class="clear">
                    <span class="controllMain"></span>
                </div>
                <span class="controllMain">
                    <input class="sodcomment" disabled="disabled" id="sodcomment_213228" maxlength="60" name="form[sodcomment][{{item.sweeper_property_id}}]" style="display:none; width: 100px;" type="text" value="Rest">
                </span>
            </td>

            <td ng-if="$first" class="completionTdMain" rowspan="{{visit.propCount}}">
                <div class="completionControlls">
                    <input class="doComplete completionCheckbox" id="063785" name="form[visits][]" type="checkbox" value="857380">
                    <input class="date completionDate hasDatepicker" id="dp1449219863508" maxlength="10" name="form[completionDates][{{item.req_visit_id}}]" style="width:80px" type="text" value="">
                    <select class="completeSweeper" name="form[completionSweepers][857380]" style="width:100px">
                        <option value=""></option>
                        <option value="3">Arne Pedersen</option>
                        <option value="6">Danni Rasmussen</option>
                        <option value="7">Lars Emil Pedersen</option>
                        <option value="8">Pia Jørgensen</option>
                        <option value="5">Robin Andersen</option>
                        <option value="122">Ronnie Bonde</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr ng-show="display.showFull == 1" class="propertyComments property comments">
            <td class="comment" colspan="15">
                <div id="id_4404">
                    <a ng-repeat="comment in visit.comments" 
                    ahref="https://test.fejer.pro/en/comments/edit/request,ajax/mode,plain/filters,sweeperPropertyID,{{item.sweeper_property_id}}/node,11883/" 
                    ng-click="editComment(visit.sweeper_property_id, comment);" 
                    class="asBox commentEditLink">
                        <b ng-if="comment.show_in_next" style="color: blue">Next</b>
                            <span ng-if="comment.deadline != '0000-00-00' && comment.deadline != ''" class="redbold">
                                Deadline: {{comment.deadline | date:'dd/MM/yyyy'}} : <comment category="{{comment.category}}"></comment>
                            </span>
                            <comment ng-if="comment.deadline == '0000-00-00' || comment.deadline == ''" category="{{comment.category}}"></comment>
                        <br>
                    </a>
                </div>
            </td>

            <td class="right" colspan="3">
                <a class="asBox btnBlue" ng-click="editComment(visit.sweeper_property_id)"
                    style="color: #FFFFFF; text-transform:capitalize;float:right;">
                    New comment
                </a>
                &nbsp;
            </td>
        </tr>

        <tr class="tableDelimeter">
            <td class="delimiter" colspan="19">
            </td>
        </tr>

    <tr ng-if="false" ng-repeat-end></tr>
    </tbody>
</table>