<div id="layout">
	<div class="layout content">
		<!-- BLOCKS CONTENT -->
		<div>
			<br clear="all">
			<!-- FILTERS -->
			<div id="filters">
				<div class="floatRight fform">
					<form id="searchform" name="searchform" method="get" action="/requisitions">
						<input type="hidden" id="sname" value="number">
						<input type="hidden" id="sorder" value="desc">
						<table>
							<tbody>
								<tr>
									<td>Year</td>
									<td>
										<select ng-change="filterChanged()" ng-model="filterType.year" ng-options="year for year in years"></select>
									</td>
									<td>Status</td>
									<td>
										<select ng-model="filterType.completion" ng-options="option.value as option.name for option in completion"></select>
									</td>
									<td rowspan="2">
										<div class="btnBlock"><input type="button" value="find" ng-click="filter(filterType)"></div>
										<div class="btnBlock"><input type="button" value="reset filters" ng-click="resetFilter()"></div>
									</td>
								</tr>

								<tr>
									<td>Tour name</td>
									<td colspan="3">
										<select ng-model="filterType.tour">
											<option value="">non selected</option>
											<option ng-repeat="opt in tours" ng-value="opt.id">{{opt.name + " (" + opt.total + ", " + opt.group + ") " + opt.description}}</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /FILTERS -->

			<!-- LINK 'CREATE REQUISITION' -->
			<div class="linkAddnode">
				<div class="floatLeft amount" style="padding-top: 20px">Found: <b class="blue">{{(requisitions | unique:'id' | filter:requisitionFilter:true).length}}</b> Requisitions</div>
				<div class="floatRight"><a href="/requisitions/create/filters,isCompleted,0/filters,year,2015/filters,tourID,0/sort,number,desc" class="requisitionBuildFilters btnBlue">Create requisition</a></div>
				<div class="floatRight" ng-hide=""><a href="#" ng-click="clearCache()" class="requisitionBuildFilters btnBlue">X</a></div>
				<div class="clear"></div>
			</div>
			<!-- /LINK 'CREATE REQUISITION' -->

			<div class="tableInside">
				<table class="toursList zebra" cellspacing="0" cellpadding="0">
					<thead id="sortHead">
						<tr>
							<th><a id="s_number" href="#" ng-click="sortType = 'req_number'; sortReverse = !sortReverse">Req.num.</a></th>
							<th><a id="s_tourName" href="#" ng-click="sortType = 'tours[0].tour_name'; sortReverse = !sortReverse">Tours</a></th>

							<th colspan="4">Toolbar</th>

							<th>Description</th>
							<th>Property type</th>
							<th>Visits<br>(current / per year)</th>
							<th>The first property</th>
							<th>The last property</th>

							<th>Work Left</th>
							<th>Work Planned</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="btnLinks">
						<tr ng-if="false" ng-repeat-start="requisition in requisitions | unique:'id' | filter:requisitionFilter:true | orderBy:sortType:sortReverse"></tr>
							<tr ng-repeat="tour in requisition.tours" requisitions-table>
						<tr ng-if="false" ng-repeat-end></tr>
					</tbody>
				</table>
			</div>

			<div class="clear"></div>
		</div>
		<!-- BLOCKS CONTENT /-->
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>