<td>
	<a id="s_number" href="index.html#/complete/{{requisition.id}}">{{$index == 0 ? requisition.req_number : $nbsp;}}</a>
	<input style="cursor:pointer" ng-hide="requisition.pending || $index != 0" type="checkbox" ng-click="checkboxChanged(requisition)" ng-model="requisition.detailsLoaded"></input>
	<a ng-show="requisition.pending && $index == 0" class="tiny progress"></a>
</td>

<td>{{tour.tour_name}}</td>

<td ng-if="$index != 0" colspan="4">&nbsp;</td>

<td ng-if="$index == 0" rowspan="1">
	<a class="requisitionBuildFilters" network-url="/en/requisitions/print/node,{{requisition.id}}/">
		<img style="width:16px; height:16px;" src="offline/img/print.png">
	</a>
</td>
<td ng-if="$index == 0" rowspan="1">
	<a class="requisitionBuildFilters" network-url="/en/requisitions/notifications/node,{{requisition.id}}/">
		<img style="width:16px; height:16px;" src="offline/img/change.png">
	</a>
</td>
<td ng-if="$index == 0" rowspan="1">
	<a target="_blank" network-url="http://test.fejer.pro/mapView.php/requisition/node,{{requisition.id}}">
		<img style="width:16px; height:16px;" src="offline/img/icons/globe-icon.png">
	</a>
</td>
<td ng-if="$index == 0" rowspan="1">
	<a class="requisitionBuildFilters" href="index.html#/complete/{{requisition.id}}">complete</a>
</td>

<td>{{$index == 0 ? requisition.comment : tour.description}}</td>
<td>{{tour.tour_group}}</td>
<td>{{tour.tour_visit}}</td>
<td>{{tour.firstProperty}}</td>
<td>{{tour.lastProperty}}</td>

<td>{{requisition.workRemaining}}</td>
<td>{{requisition.workPlanned}}</td>
<td>{{requisition.workDone}}</td>