body {
	padding:0;
	margin:0;
	background-color: #E76577;}
	#innerContainer {padding:0 15px; clear:both; width:960px;}
	#mainContainer {
		width:994px;
		padding: 6px 0px 0;
		margin:18px auto 20px;
		display:table;
		   border: 1px solid #D6D1D1;
		border-radius:10px;
		-o-border-radius:10px;
		-ms-border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		box-shadow: 0 0 12px #bababa;
		-ms-box-shadow: 0 0 12px #bababa;
		-webkit-box-shadow: 0 0 12px #bababa;
		-o-box-shadow: 0 0 12px #bababa;
		-moz-box-shadow: 0 0 12px #bababa;
		background: #fff url(../img/menu/head_bg.jpg) 0 6px no-repeat;}
		#head {
			height:63px;
			padding:0 2px 0 0;}
			#head strong {
				width: auto;
				margin:0;
				padding: 37px 0 0 133px;
				font: bold 13px Tahoma,Arial,Helvetica,serif;
				color:#c82a2f;
				white-space:nowrap;
				display:table;
				float:left;}
			#head a {
				padding: 1px 10px 2px;
				margin:5px 0 0;
				border: 1px solid #C82A2F;
				border-radius: 12px;
					-moz-border-radius: 12px;
					-webkit-border-radius: 12px;
				box-shadow: 0 -13px 0 #C82A2F inset;
					-moz-box-shadow: 0 -13px 0 #C82A2F inset;
					-webkit-box-shadow: 0 -13px 0 #C82A2F inset;
				color: #FFF;
				cursor: pointer;
				display: block;
				float:right;
				overflow:auto;
				white-space:nowrap;
				font: bold 12px/130% Verdana,Arial,Helvetica,sans-serif;
				text-decoration: none;
				background: none repeat scroll 0 0 #DA6E71;}
			#head a:hover {
				text-shadow: 0 0 5px #fff;}
			#head div.clientSelector {
				width:auto;
				padding:0;
				margin: 5px 60px 0 0;
				height:20px;
				float:right;
				white-space:nowrap;}
				#head div.clientSelector p {
					padding: 0px 40px 0 0;
					font: bold 13px Tahoma,Arial,Helvetica,serif;
					color:#3f444c;}
					#head div.clientSelector p span {
						padding: 0 0 0 5px;
						color:#C82A2F;
						font-weight:bold;}
				#head div label {
					padding:0 4px 0 0;
					font: bold 13px Tahoma,Arial,Helvetica,serif;
					color:#3f444c;}
			#head b {
				width:auto;
				margin:0;
				padding:12px 0 0 0;
				font: bold 13px Tahoma,Arial,Helvetica,serif;
				color:#c82a2f;
				clear: right;
				white-space:nowrap;
				display:table;
				float: right;}

		#menu {
			height: auto;
			padding:0 0 0 10px;
			margin:0;
			list-style-type:none;
			clear:both;
			overflow:auto;
			background: #fff url(../img/menu/menu_bg.gif) 0 0 no-repeat;}
		ul#menu li {
			width:auto;
			height:auto;
			padding:0;
			margin:0;
			float:left;
			display:table;
			list-style-type:none;
			background: url(../img/menu/menu_item_bg.gif) right top no-repeat;}
		ul#menu li:last-child, ul#menu li.lastLi {background: none;}
			ul#menu li a {
				height: 28px;
				padding: 0 20px;
				display:block;
				font: bold 13px Tahoma, Arial, Helvetica, serif;
				letter-spacing: normal;
				color:#FFF;
				text-decoration: none;
				line-height:26px;
				white-space:nowrap;
					text-transform:capitalize;
					text-align:left;
				cursor:pointer;}
			ul#menu li a:hover, 
			ul#menu li.active a, ul#menu li a.active {
				color:#036;}
			ul#menu li a:hover{background:#FFF;}
		
		ul#menu li ul {
			display:none;}
		ul#menu li ul.current {
			width: auto;
			height: auto;
			padding: 1px 0 0;
			margin: -1px 0 0 0;
			display: block;
			position:absolute;
			list-style-type:none;
			border-top: 0 none;
			border-left:1px solid #033;
			border-right:1px solid #033;
			border-bottom: 1px solid #036;
			list-style-type:none;
			z-index:9999999999;
			background:#959595;}
		ul#menu li ul li {
			width: auto;
			height: auto;
			padding:0;
			margin:0; 
			display:table;
			clear: left;
			border: 0 none !important;
			border: 0 none;
			background:none;}
		ul#menu li ul.current li a {
			width: 130px;
			height: auto;
			padding: 5px 20px 6px 20px;
			margin:0;
			border: 0 none;
			line-height: 16px;
			color:#FFF;
			display:block;
			white-space:normal;}
		ul#menu li ul.current li:hover a {
			background:#FFF;
			color: #036;}
