ul#menu li a#messages, #head #messages
{
	background:url(../img/sticky_note.png) top center no-repeat; 
	background-size:31px 31px; 
	color: #2A86E7;
	font-family: monospace;
    font-weight: bold;
	display:block;
	float:left;
}

ul#menu li a#calendarBottomLink, #head #calendarBottomLink
{
	background:url(../img/calendar_link.png) top center no-repeat; 
	background-size:30px 30px; 
	color: #2A86E7;
	font-family: monospace;
    font-weight: bold;
	display:block;
	float:left;
}

#head #messages
{
	background: url("../img/sticky_note.png") no-repeat scroll center top / 67px 67px rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    float: left;
    font-size: 34px;
    height: 48px;
    margin-left: 20px;
    margin-right: 0;
	text-align:center;
    margin-top: 0;
    padding-top: 12px;
    width: 67px;
}

#head #calendarMenuLink
{
	background: url("../img/calendar_link.png") no-repeat scroll center top / 70px 60px rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    float: left;
    font-size: 34px;
    height: 48px;
    margin-left: 230px;
    margin-right: 0;
	text-align:center;
    margin-top: 0;
    padding-top: 12px;
    width: 67px;
}

ul#menu li a#messages:hover, #head #messages:hover
{	
	color: #003366
}

#progressbar
{
	height: 3px;
	display:none;
}

#progressbar .ui-progressbar-value { background: #20A7E6; }

.btnBlue
{
	font:bold 12px/130% Verdana,Arial,Helvetica,sans-serif !important;
}

table.infowindow td { border:none; padding:0px 5px; }